{%- include 'breadcrumb' -%}

<div class="page-width">   
  	<h1 class="page-title text-center">{{ 'customer.register.page_title' | t }}</h1>
	<div class="login-register medium-up--one-half" style="margin:auto;">
          <div class="form-vertical">
            {%- assign formId = 'RegisterForm' -%}
        	{% render "customer-fields", form_id: "M6tpRx" %}          
        </div>
    </div>
</div>
