<div class="my-5 container">
    <div class="row">
        <div class="col-12 text-white text-center fw-bold p-2" style="background-color: #ea2621;">
            Tiendas
        </div>
        <div class="col-md-4" style="padding-left: 0; padding-right: 0;">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Division Del Norte (DF)</td>
                    </tr>
                    <tr>
                        <td>Escuela Dona Rosa (MEX)</td>
                    </tr>
                    <tr>
                        <td>Pabellon Reforma (PUE)</td>
                    </tr>
                    <tr>
                        <td>Tec. Minatitlan (VER)</td>
                    </tr>
                    <tr>
                        <td>Playa Linda (VER)</td>
                    </tr>
                    <tr>
                        <td>Ruiz Cortinez (VER)</td>
                    </tr>
                    <tr>
                        <td>Perote (VER)</td>
                    </tr>
                    <tr>
                        <td>Cd. Deportiva (TAB)</td>
                    </tr>
                    <tr>
                        <td>Casa Blanca (TAB)</td>
                    </tr>
                    <tr>
                        <td>1 De Mayo Naucalpan (MEX)</td>
                    </tr>
                    <tr>
                        <td>Mariquita Linda (MEX)</td>
                    </tr>
                    <tr>
                        <td>Metepec Pilares (MEX)</td>
                    </tr>
                    <tr>
                        <td>Tizimin (YUC)</td>
                    </tr>
                    <tr>
                        <td>Uman (YUC)</td>
                    </tr>
                    <tr>
                        <td>Acayucan Centro (VER)</td>
                    </tr>
                    <tr>
                        <td>Cd. Cardel (VER)</td>
                    </tr>
                    <tr>
                        <td>Kanasin (YUC)</td>
                    </tr>
                    <tr>
                        <td>Chetumal (ROO)</td>
                    </tr>
                    <tr>
                        <td>Alameda Tizayuca (HID)</td>
                    </tr>
                    <tr>
                        <td>Minatitlan Centro</td>
                    </tr>
                    <tr>
                        <td>Veracruz 3 (VER)</td>
                    </tr>
                    <tr>
                        <td>Martinez De La Torre (VER)</td>
                    </tr>
                    <tr>
                        <td>Comalcalco (TAB)</td>
                    </tr>
                    <tr>
                        <td>Champoton (CAM)</td>
                    </tr>
                    <tr>
                        <td>Diaz Miron (VER)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4" style="padding-left: 0; padding-right: 0;">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Izucar De Matamoros (PUE)</td>
                    </tr>
                    <tr>
                        <td>Boca Del Rio (VER)</td>
                    </tr>
                    <tr>
                        <td>Cardenas Centro (TAB)</td>
                    </tr>
                    <tr>
                        <td>Valladolid Centro (YUC)</td>
                    </tr>
                    <tr>
                        <td>Emiliano Zapata (TAB)</td>
                    </tr>
                    <tr>
                        <td>Palo Solo  (MEX)</td>
                    </tr>
                    <tr>
                        <td> Costera Miguel Aleman (GRO)</td>
                    </tr>
                    <tr>
                        <td>Macuspana</td>
                    </tr>
                    <tr>
                        <td>Jose Ma. Morelos (QUE)</td>
                    </tr>
                    <tr>
                        <td>Papantla Centro (VER)</td>
                    </tr>
                    <tr>
                        <td>Glorieta Caracol (ROO)</td>
                    </tr>
                    <tr>
                        <td>Paseo Montejo (YUC)</td>
                    </tr>
                    <tr>
                        <td>Cintalapa (CHP)</td>
                    </tr>
                    <tr>
                        <td>Juchitan (OAX)</td>
                    </tr>
                    <tr>
                        <td>Zona Dorada (YUC)</td>
                    </tr>
                    <tr>
                        <td>Cancun Heroes (QUE)</td>
                    </tr>
                    <tr>
                        <td>Cancun Kalleres (QUE)</td>
                    </tr>
                    <tr>
                        <td>Chetumal Constituyentes (ROO)</td>
                    </tr>
                    <tr>
                        <td>Teapa (TAB)</td>
                    </tr>
                    <tr>
                        <td>Paraiso Centro (TAB)</td>
                    </tr>
                    <tr>
                        <td>Playa Del Carmen (ROO)</td>
                    </tr>
                    <tr>
                        <td>Tulum (QUE)</td>
                    </tr>
                    <tr>
                        <td>Coatzacoalcos Centro (VER)</td>
                    </tr>
                    <tr>
                        <td>5 De Mayo (VER)</td>
                    </tr>
                    <tr>
                        <td>Teziutlan Centro (PUE)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4" style="padding-left: 0; padding-right: 0;">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Xalapa Centro (VER)</td>
                    </tr>
                    <tr>
                        <td>Tampiquera (VER)</td>
                    </tr>
                    <tr>
                        <td>Tierra Blanca (VER)</td>
                    </tr>
                    <tr>
                        <td>Puente Cazones (VER)</td>
                    </tr>
                    <tr>
                        <td>Tuxtepec (OAX)</td>
                    </tr>
                    <tr>
                        <td>Campeche 3 (CAM)</td>
                    </tr>
                    <tr>
                        <td>Villaflores (CHP)</td>
                    </tr>
                    <tr>
                        <td>Tizimin (YUC)</td>
                    </tr>
                    <tr>
                        <td>Cunduacan (TAB)</td>
                    </tr>
                    <tr>
                        <td>Mapastepec (CHP)</td>
                    </tr>
                    <tr>
                        <td>Huimanguillo (TAB)</td>
                    </tr>
                    <tr>
                        <td>Palenque (CHP)</td>
                    </tr>
                    <tr>
                        <td>Tepepan (DF)</td>
                    </tr>
                    <tr>
                        <td>La Viga (DF)</td>
                    </tr>
                    <tr>
                        <td>San Nicolas Tlalnepantla (MEX)</td>
                    </tr>
                    <tr>
                        <td>Cine Hidalgo (MEX)</td>
                    </tr>
                    <tr>
                        <td>Atlalilco (DF)</td>
                    </tr>
                    <tr>
                        <td>Cuauhtemoc (DF)</td>
                    </tr>
                    <tr>
                        <td>Balderas (MEX)</td>
                    </tr>
                    <tr>
                        <td>Echegaray (DIF)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>