{%- if settings.breadcrumb_pg -%}{%- include 'breadcrumb' -%}{%- else -%}<div class="topSpace"></div>{%- endif -%}



<div >

  
  <section style="max-width:800px; margin: 0 auto; padding: 10px 15px;" >
    <img class="dir__img" src="https://cdn.shopify.com/s/files/1/0257/8812/1137/files/WEB.jpg"  /> 
 
    <h4 style="text-align:center;">¿Quieres ser nuestro proveedor?</h4>
    <p style="text-align:justify;" >Con 23 años en el mercado mexicano, y con más de 500 tiendas en todo el país, ofrecemos artículos únicos y de gran valor para sorprender a nuestros Clientes. Esta propuesta se extiende también a nuestro sito en línea, con un catálogo extendido de productos, promociones y nuestro sello distintivo, ¡precios desde $9.99!</p>
  
    <p style="text-align:justify;">En Waldo's apoyamos el desarrollo de proveedores, y queremos trabajar contigo. ¡Crece con nosotros!</p>
    
    <p style="text-align:justify;">Ponemos a tu disposición nuestra capacidad logística y experiencia. ¡Contáctanos!</p>

    <div style="overflow-x: scroll;">
    <table class="dir__tabla styled-table">
      
     <thead class="dir__tabla__encabezado">
       
       <tr>
         
         <th>División</th>
                  <th>Departamento</th>
                  <th>Contacto</th>
         
         
       </tr>
       
      </thead>
      <tbody>
        
       <tr>
          <td rowspan="5">Comestible </td>
                    <td> Abarrotes Básicos</td>
          <td><a href="mailto:abarrotesbasicos@grupovizion.com.mx" >abarrotesbasicos@grupovizion.com.mx</a> </td>
        </tr>
       <tr class="fondo-gris"   >
          
                    <td>Bebidas </td>
          <td><a href="mailto:bebidas@grupovizion.com.mx" >bebidas@grupovizion.com.mx </a></td>
        </tr>
       <tr>
          
                    <td>Botanas </td>
          <td><a href="mailto:botanas@grupovizion.com.mx" >botanas@grupovizion.com.mx</a> </td>
        </tr>
       <tr class="fondo-gris" >
          
                    <td>Dulces </td>
          <td> <a href="mailto:dulces@grupovizion.com.mx" >dulces@grupovizion.com.mx</a></td>
        </tr>
       <tr >
                    <td> Galletas y Postres</td>
          <td> <a href="mailto:galletasypostres@grupovizion.com.mx" >galletasypostres@grupovizion.com.mx</a></td>
        </tr>
        
        <tr  >
  <td rowspan="9"  >Merc. Generales </td>
          <td  class="fondo-gris">Accesorios Personales </td>
          <td  class="fondo-gris"><a href="mailto:accpersonales@grupovizion.com.mx" >accpersonales@grupovizion.com.mx    </a> </td>
        </tr>
        <tr>
          <td>Beauty Center </td>
          <td><a href="mailto:beautycenter@grupovizion.com.mx" >  beautycenter@grupovizion.com.mx  </a> </td>
        </tr>
        <tr class="fondo-gris" >
                    <td> Decoración</td>
          <td> <a href="mailto:decoracion@grupovizion.com.mx" >decoracion@grupovizion.com.mx</a></td>
        </tr>
        <tr>
          <td> Electrónicos</td>
          <td><a href="mailto:electronicos@grupovizion.com.mx" >electronicos@grupovizion.com.mx    </a> </td>
        </tr>
        <tr  class="fondo-gris">
          <td> Escuela y Oficina</td>
          <td><a href="mailto:escuelayoficina@grupovizion.com.mx" >escuelayoficina@grupovizion.com.mx    </a> </td>
        </tr>   
        <tr>
          <td>Ferretería </td>
          <td><a href="mailto:ferreteria@grupovizion.com.mx" >  ferreteria@grupovizion.com.mx  </a> </td>
        </tr>
        <tr  class="fondo-gris">
          <td> Fiesta</td>
          <td><a href="fiesta@grupovizion.com.mx" >fiesta@grupovizion.com.mx    </a> </td>
        </tr>
        <tr>
          <td> Hogar</td>
          <td><a href="mailto:hogar@grupovizion.com.mx" >hogar@grupovizion.com.mx    </a> </td>
        </tr> 
        <tr class=" fondo-gris">
          <td>Juguete </td>
          <td><a href="mailto:juguete@grupovizion.com.mx" >juguete@grupovizion.com.mx    </a> </td>
        </tr>
       
        
        <tr>
           <td rowspan="6" >No Comestibles </td>
          <td>Auto </td>
          <td><a href="mailto:auto@grupovizion.com.mx" >auto@grupovizion.com.mx    </a> </td>
        </tr>
        <tr class="fondo-gris"  >
          <td> Bebés</td>
          <td><a href="mailto:bebe@grupovizion.com.mx" >bebe@grupovizion.com.mx    </a> </td>
        </tr>
        <tr>
         
                    <td>Cuidado Personal </td>
          <td><a href="mailto:cuidadopersonal@grupovizion.com.mx" >  cuidadopersonal@grupovizion.com.mx  </a> </td>
        </tr>
        <tr class="fondo-gris" >
          <td>Mascota </td>
          <td><a href="mailto:mascota@grupovizion.com.mx" >mascota@grupovizion.com.mx    </a> </td>
        </tr>
        <tr>
          <td>Papel </td>
          <td><a href="mailto:papel@grupovizion.com.mx" >papel@grupovizion.com.mx    </a> </td>
        </tr>   
        <tr class="fondo-gris">
          <td> Químicos</td>
          <td><a href="mailto:quimicos@grupovizion.com.mx" >quimicos@grupovizion.com.mx    </a> </td>
        </tr>
        
        <tr class="borde-verde">
          <td> Temporadas</td>
                    <td> Temporadas</td>
          <td><a href="mailto:temporadas@grupovizion.com.mx" >temporadas@grupovizion.com.mx    </a> </td>
        </tr>
        
      </tbody>
      
      
    </table>
    
    </div>
    <div class="my-5">
      <p style="text-align:justify;">Si necesitas información adicional, no dudes en contactarnos en los siguientes canales de comunicación<span></span></p>
      <ul>
          <li><a href="https://wa.me/5215512998714?text=%C2%A1Hola%2C+t%C3%ADo+Waldo%C2%B4s%21">Whatsapp: 55 1299 8714</a></li>
          <li><a href="mailto:atencion@waldos.com">Correo: atencion@waldos.com</a></li>
      </ul>
    </div>
  </section>
    
</div>

<style>
  
  
  .dir__encabezado {font-size: 20px; font-weight: bold; margin-top: 20px;}
  
  
  .dir__tabla{
    margin-bottom: 25px;
    margin-top: 50px;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    

  
  }
  
  
  .dir__tabla__encabezado {
  background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
 
  
  
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table .fondo-gris {
    background-color: #f2f2f2;
}

.styled-table .borde-verde {
    border-bottom: 2px solid #009879;
}
  
  
  .dir__img {
    
    margin-top: -20px;
    margin-bottom: 20px;
    max-width:100%;
    height: auto;
  }
  
  

</style>